/* Marianne Moyo 7955024 */

body {
   width: 1200px;
   max-width: 1200px;
   height: 1200px;
   font: 10px, Arial;
   padding: 5px;
   margin: auto;
   background-color: rgb(240, 240, 230);
}

header {
    border: 2px solid black;
    border-radius: 25px;
    padding: 2px;
    margin: 10px;
    background-color: rgb(60, 122, 176);
}

h1 {
    font-variant: small-caps;
    color: orange;
}

h2 {
    font-variant: small-caps;
    color: orange;
}

footer p {
    font-size: medium;
    color: orange;
}


main {
    width: 750px;
    float: left;
    padding: 2px;
    margin: 5px;
    background-color: rgb(240, 240, 230);
}

aside {
    width: 350px;
    float: left;
    padding: 2px;
    margin: 5px;
    background-color: rgb(60, 122, 176);
    height: 500px;
}

footer {
    clear: left;
    border: 2px solid black;
    border-radius: 20px;
    padding: 2px;
    margin: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(60, 122, 176);
}
.mainimg {
    border: 1px solid black;
}

#firstimg {
    position: relative;
    width: 50%;
}

#secondimage {
    width: 50%;
}

figcaption {
    font-weight:bold;
    font-variant: small-caps;
}

blockquote {
    font-family: cursive;
    font-style: italic;
    font-size: large;
}

ul {
    list-style-type: none;
    line-height: 32px;
}

ul >  li > a {
    text-decoration: none;
    color: orange;
}

a:hover {
    color: aqua;
}